@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

body{
    zoom: 90%;
    background-color: rgb(173, 173, 173);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px;
}

#container{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 10px solid darkslateblue;
    border-radius: 10px;
}

.square{
    width: 60px; 
    height: 60px;
    background-color: whitesmoke;
}


#leftContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#title{
    font-family: 'Protest Strike', sans-serif;
    font-size: 80px;
    margin-bottom: 365px;
    color: darkslateblue;
}


button, #bottom{
    margin: 40px;
    padding: 20px;
    font-family: 'Protest Strike', sans-serif;
    font-size: 30px;
    background-color: darkslateblue;
    border-radius: 8px;
    color: lightgray;
}

#bottom{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.links{
    margin: 10px;
}